/* body {
  overflow: hidden;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#app {
  height: 100%;
  width: 100%;
}

#app canvas {
  outline: none;
}

#debug {
  position: fixed;
  right: 10px;
  top: 10px;
  width: 350px;
  z-index: 10;
} */

:root {
  --main-bg-color: rgb(232, 232, 227);
  --nav-color: black;
  --column-direction: column;
}


@font-face {
  font-family: "Chillax";
  src: url('fonts/Chillax-Variable.ttf');
  /* Autres formats de police (woff, woff2, etc.) peuvent être ajoutés ici */
}
@font-face {
  font-family: "Clash";
  src: url('fonts/ClashDisplay-Variable.ttf');
  /* Autres formats de police (woff, woff2, etc.) peuvent être ajoutés ici */
}
@font-face {
  font-family: "Overusedgrotesk";
  src: url('fonts/ttf/OverusedGrotesk-ExtraBold.ttf');
  /* Autres formats de police (woff, woff2, etc.) peuvent être ajoutés ici */
}

@font-face {
  font-family: "OverusedgroteskM";
  src: url('fonts/ttf/OverusedGrotesk-Medium.ttf');
  /* Autres formats de police (woff, woff2, etc.) peuvent être ajoutés ici */
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  display: flex; 
  width: 100%;
  height: 100vh;
  flex-direction: var(--column-direction);
  /* background-color: rgb(232, 232, 227); */
  
}

#main{
  width: 100%;
  height: 100vh;
}

nav {
  margin: 0;
  display: flex;
  position: fixeds;
  color: var(--nav-color);
  padding: 20px;
  text-align: justify;
  justify-content: flex-end;
}

.logo {
  margin: 0;
  display: flex;
  flex : 1;
  color: #524D47;
  font-size: 100px;
  padding: 20px;
  text-align: justify;
  flex-direction: var(--column-direction);
  font-family: "Overusedgrotesk";
  gap: 6px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  float: right;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #6B645C;
  text-decoration: none;
  font-size: 18px;
  font-family: "Clash";

}

nav ul li a:hover {
  color: white; /* Change color on hover */
}

.container {
  display : flex;
  text-align: justify;
  /* width: 100%; */
  height: 100vh;
  position: sticky;
  /* top: 0; */
  z-index: 1;
  flex-direction: var(--column-direction);
  background-image: url("/static/img/pattern3.png");
  background-repeat: repeat;
  /* background-color: var(--main-bg-color); */
}

.link1{
  display: flex;
  transition-property: all;
  transition-duration: .8s;
  transition-timing-function:cubic-bezier(0.16, 1, 0.3, 1)
}



.link2{
  position: absolute;
  transition-property: all;
  transition-duration: .8s;
  transition-timing-function:cubic-bezier(0.16, 1, 0.3, 1)

}

h1{
  font-size: 3rem;
}
h5{
  font-size: 1rem;
}
h3{
  font-size: 2.5rem;
}

/* #canvas {
  border: solid 1px blue;
	padding: 8px;
	margin: 0 auto;
	width: 400px;
	height: 300px;
} */
.container2{
  display: flex;
  text-align: justify;
  flex-direction: var(--column-direction);
  width: 100%;
  height: 100vh;
  z-index: 2;
  /* margin-top: -50vh; */
  background-color: black;
  border-radius: 25px;
}

.canvas{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  bottom: 10%;
  margin-top: 75px;

}

/* .h1{
  font-family:"OverusedgroteskM" ;
  margin: 0;
} */

.p{
  margin: 0;
}

#image {
  display: block;
  background-size: cover;
  background-position: center;
  width: 400px;
  height: 200px;
  border-radius: 25px;

}

.article{
  background-color: rgba(47, 46, 46, 0.514);
  border-radius: 15px;
  max-width: 500px;
  min-width: 400px;
  overflow: hidden;
}

.articleCase{
  display: inline-flex;
  flex-wrap: wrap;
  gap: 75px;
  margin: 5px 15px;
  width: 500px;
  margin-left: 50px;
}

.articleText{
  font-size: 2rem;
  margin-left: 15px;
  margin-right: 10px;
  text-align: center;
  color: rgb(209, 209, 199);
  margin-top: 25px;
}
.boutonBox{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 30px 0;
}

.boutonArticle{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(248, 248, 248, 0.911);
  border-radius: 15px;
  align-self: center;
  width: 200px;
  height: 60px;
}

.title{
  justify-content: center;
  align-self: center;
  text-align: center;
  color: rgb(209, 209, 199);
  font-size: 5em;
  font-family: "Overusedgrotesk" ;
  text-wrap: balance;
  line-height: 83%;
  letter-spacing: -.025em;
  margin-top: 25px;
  margin-bottom: 75px;


}